<%= turbo_frame_tag dom_id(@comment) do %>
  <div class="comment__content flex-inline flex-column full-width border border-radius">
    <%= form_with model: [@bubble.bucket, @bubble, @comment], class: "flex flex-column gap full-width",
          data: { controller: "form paste", action: "keydown.ctrl+enter->form#submit:prevent keydown.meta+enter->form#submit:prevent keydown.esc->form#cancel:stop paste->paste#pasteFiles" } do |form| %>
      <%= form.markdown_area :body, class: "input comment__input", required: true, autofocus: true, placeholder: new_comment_placeholder(@bubble) %>
      <div class="flex gap-half justify-start">
        <%= form.button class: "btn btn--reversed txt-small", type: :submit do %>
          <%= image_tag "check.svg", aria: { hidden: true }, size: 16 %>
          <span class="for-screen-reader">Save</span>
        <% end %>
        <%= link_to bucket_bubble_comment_path(@bubble.bucket, @bubble, @comment), class: "btn btn--small", data: { form_target: "cancel" } do %>
          <%= image_tag "remove-med.svg", aria: { hidden: true }, size: 16 %>
          <span class="for-screen-reader">Cancel</span>
        <% end %>

        <%= tag.button type: :submit, class: "btn btn--small btn--negative flex-item-justify-end", form: dom_id(@comment, :delete_form),
            data: { turbo_confirm: "Are you sure you want to delete this comment?" } do %>
          <%= image_tag "trash.svg", aria: { hidden: true }, size: 16 %>
          <span class="for-screen-reader">Delete</span>
        <% end %>
      </div>
    <% end %>

    <%= form_with url: bucket_bubble_comment_path(@bubble.bucket, @bubble, @comment), method: :delete, id: dom_id(@comment, :delete_form), data: { turbo_frame: "_top" } %>
  </div>
<% end %>
