<%= form_with url: bubbles_path, method: :get, class: "flex flex-column full-width popup__list",
      data: { controller: "form" } do |form| %>
  <% filter.as_params.except(:bucket_ids).each do |key, value| %>
    <%= filter_hidden_field_tag key, value %>
  <% end %>

  <%= link_to bubbles_path(filter.as_params.except(:bucket_ids)), class: "btn popup__item" do %>
    <span class="overflow-ellipsis">All collections</span>
  <% end %>

  <% Current.user.buckets.order(:name).each do |bucket| %>
    <div class="btn popup__item">
      <%= form.check_box "bucket_ids[]", {
            checked: filter.buckets.include?(bucket),
            data: { action: "change->form#submit" },
            include_hidden: false,
      }, bucket.id %>

      <%= form.label "bucket_ids[]", bucket.name, for: dom_id(bucket, :filter), class: "overflow-ellipsis" %>
      <%= icon_tag "check", size: 18, class: "checked flex-item-justify-end" %>
    </div>
  <% end %>
<% end %>
