<nav class="align-start">
  <%= link_to_home %>

  <div class="btn btn--placeholder"></div>
  <div class="btn btn--placeholder flex-item-justify-start"></div>

  <header class="flex flex-inline flex-column center flex-shrink">
    <div class="card-bucket__filter flex-inline center position-relative" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
      <button class="txt-align-center input input--select borderless center txt-medium" data-action="click->dialog#open:stop">
        <h1 class="txt-large overflow-ellipsis margin-none">
          <%= filter_title filter %>
        </h1>
      </button>

      <dialog class="events__popup popup panel flex-column align-start gap-half fill-white shadow" data-dialog-target="dialog" data-action="turbo:before-cache@document->dialog#close">
        <strong class="popup__title margin-block-start-half pad-inline-half">In Collection</strong>

        <%= render "bubbles/index/buckets_filter", filter: filter %>
      </dialog>
    </div>

    <%= render "bubbles/index/sorting_options", filter: filter %>
  </header>

  <% if bucket = filter.single_bucket %>
    <div class="flex-item-justify-end">
      <%= access_involvement_advance_button bucket, Current.user %>
    </div>

    <%= link_to edit_bucket_path(bucket), class: "btn" do %>
      <%= icon_tag "settings" %>
      <span class="for-screen-reader">Settings for <%= bucket.name %></span>
    <% end %>

    <%= button_to bucket_bubbles_path(bucket), method: :post, class: "btn" do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Create a new bubble</span>
    <% end %>
  <% else %>
    <div class="btn btn--placeholder flex-item-justify-end"></div>
    <div class="btn btn--placeholder"></div>
  <% end %>
</nav>
