<% @page_title = "People on the account" %>

<% content_for :header do %>
  <nav class="align-start">
    <%= link_to_home icon: "arrow-left", label: "Go back", class: "flex-item-justify-start" %>

    <header class="flex flex-column center">
      <h1 class="txt-x-large"><%= @page_title %></h1>
    </header>

    <%= link_to workflows_path, class: "btn flex-item-justify-end" do %>
      <%= icon_tag "bolt" %>
      <span class="for-screen-reader">Workflows</span>
    <% end %>
  </nav>
<% end %>

<div class="panel borderless center pad fill-shade flex flex-column margin-block">
  <%= render "accounts/users/invite" %>
</div>

<div class="panel borderless center pad fill-none flex flex-column gap">
  <%= render partial: "accounts/users/user", collection: @users %>
</div>
